
{% extends 'layout/main.html.twig' %}

{% block page_title %}
    Изменение e-mail
{% endblock %}

{% block content %}

    Вы успешно изменили e-mail вашей учетной записи.
    <br>
    <a href="{{ path('app_private_profile_index') }}">Вернуться в профиль</a>

{% endblock %}