
# PhpStorm
/.idea/

# Composer
/vendor/
/composer.phar

# Apache
/public/.htaccess

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
###< symfony/framework-bundle ###
