
# Symfony 3
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/bin/symfony_requirements
/var/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/web/bundles/

# Composer
/composer.phar
/vendor/
