
# Symfony 3
/.web-server-pid
/config/parameters.yml
/build/
/phpunit.xml
/bin/symfony_requirements
/var/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/public/bundles/
.env

# Composer
/composer.phar
/vendor/
/public/vendor/

# PhpStorm
/.idea/
!.idea/codeStyleSettings.xml
!.idea/encodings.xml
!.idea/fileTemplates/
!.idea/inspectionProfiles/

# Yarn
/node_modules/
/yarn-error.log
/public/build/
