
@import url('social.css');

/*************************************************** Sticky footer ****************************************************/
#footer {
    position: absolute;
    bottom: 0;
    height: 3.5rem; /* фактическая высота футера */
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 3.5rem; /* фактическая высота футера */
}

/************************************ При фокусе в интуп - плейсхолдер "удаляется" (плавно) ***************************/
.form-control::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.form-control::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.form-control:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.form-control:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.form-control:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.form-control:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.form-control:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.form-control:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
/*не плавно
.form-control:focus::-webkit-input-placeholder {color: transparent}
.form-control:focus::-moz-placeholder          {color: transparent}
.form-control:focus:-moz-placeholder           {color: transparent}
.form-control:focus:-ms-input-placeholder      {color: transparent}
*/


/***************************************** input-group-addon внутри элемента ******************************************/
.input-group-inner {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display:     -ms-flexbox;
    display:         flex;
}
.input-group-inner .input-group-addon-inner {
    margin: 0.5rem 0.75rem;
    line-height: 1.25;
    position: absolute;
    z-index: 3;
}
.input-group-inner .input-group-addon-inner:first-child {
    left: 0;
}
.input-group-inner input ~ .input-group-addon-inner {
    right: 0;
}
