
{% extends '@App/layout/admin.html.twig' %}

{% block page_title %}
    Изменение пароля
{% endblock %}

{% block content %}

    <p>
        Пароль успешно изменен.
        <br>
        <a href="{{ path('app_admin_profile_index') }}">Вернуться в профиль</a>
    </p>

{% endblock %}
