
{% extends '@App/layout/main.html.twig' %}

{% block page_title %}
    Подтверждение регистрации
{% endblock %}

{% block content %}

    <h1>{{ block('page_title') }}</h1>

    <p>
        Вы успешно подтвердили вашу учетную запись.
    </p>

{% endblock %}