
{% extends 'layout/main.html.twig' %}

{% block page_title %}
    Регистрация
{% endblock %}

{% block content %}

    <h1>{{ block('page_title') }}</h1>

    <p>
        {% set domain = email_check_url(email) %}
        По адресу
        {% if (domain) %}
            <a href="{{ domain }}" title="Проверить почту">{{ email }}</a>
        {% else %}
            <b>{{ email }}</b>
        {% endif %}
        отправлено письмо.
        <br>Перейдите по ссылке в письме, чтобы подтвердить регистрацию.
    </p>

{% endblock %}