
{% extends '@App/layout/main.html.twig' %}

{% block page_title %}
    Восстановление пароля
{% endblock %}

{% block content %}

    <h1>{{ block('page_title') }}</h1>

    <p>
        Ошибка подтверждения учетной записи.
        <br>
        Токен просрочен или не существует вовсе.
    </p>

{% endblock %}