# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: ss
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    swiftmailer.default.transport: mail
    swiftmailer.default.host:      127.0.0.1
    swiftmailer.default.user:      ~
    swiftmailer.default.password:  ~
    swiftmailer.monolog.transport: mail
    swiftmailer.monolog.host:      127.0.0.1
    swiftmailer.monolog.user:      ~
    swiftmailer.monolog.password:  ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Recaptcha
    recaptcha.public_key:  'ThisTokenIsNotSoSecretChangeIt'  #todo
    recaptcha.private_key: 'ThisTokenIsNotSoSecretChangeIt'  #todo

    # Redis
    redis.dsn: 'redis://localhost'

    #Monolog error mailing
    monolog.mail.from_email: 'error@example.com'
    monolog.mail.to_email:   'error@example.com'

    # Hosts
    host.main: 'http://ss.dev'

    # OAuth
    oauth.vkontakte.client_id:     'ThisTokenIsNotSoSecretChangeIt'
    oauth.vkontakte.client_secret: 'ThisTokenIsNotSoSecretChangeIt'
