<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>

    {# css + js #}
    {% include '@App/layout/include/_head.html.twig' %}

</head>
<body>

{% block content %}{% endblock %}

</body>
</html>
