
{% extends 'layout/main.html.twig' %}

{% block page_title %}
    Изменение часового пояса
{% endblock %}

{% block content %}

    <h1>{{ block('page_title') }}</h1>

    <p>
        Вы успешно изменили ваш часовой пояс.
        <br>
        <a href="{{ path('app_private_profile_index') }}">Вернуться в профиль</a>
    </p>

{% endblock %}