
{% extends 'layout/main.html.twig' %}

{% block page_title %}
    Изменение часового пояса
{% endblock %}

{% block content %}

    Вы успешно изменили ваш часовой пояс.
    <br>
    <a href="{{ path('app_private_profile_index') }}">Вернуться в профиль</a>

{% endblock %}