
{% extends 'layout/main.html.twig' %}

{% block page_title %}
    Восстановление пароля
{% endblock %}

{% block content %}

    <h1>Восстановление пароля</h1>

    <p>
        Вы успешно изменили пароль к вашей учетной записи.
    </p>

{% endblock %}