
{% extends 'layout/admin.html.twig' %}

{% block page_title %}
    Изменение e-mail
{% endblock %}

{% block content %}

    <p>
        {% set domain = email_check_url(email) %}
        По адресу
        {% if (domain) %}
            <a href="{{ domain }}" title="Проверить почту">{{ email }}</a>
        {% else %}
            <b>{{ email }}</b>
        {% endif %}
        отправлено письмо.
        <br>Перейдите по ссылке в письме, чтобы активировать новый e-mail.
    </p>

{% endblock %}