
{% extends 'layout/admin.html.twig' %}

{% block page_title %}
    Изменение пароля
{% endblock %}

{% block content %}

    Пароль успешно изменен.
    <br>
    <a href="{{ path('app_admin_profile_index') }}">Вернуться в профиль</a>

{% endblock %}
