
{% extends 'layout/admin.html.twig' %}

{% block page_title %}
    Изменение e-mail
{% endblock %}

{% block content %}

    <p>
        Ошибка изменения e-mail.
        <br>
        Вы уже запрашивали изменение почты за последний час.
    </p>

{% endblock %}