
{% extends 'layout/main.html.twig' %}

{% block page_title %}
    Список чатов
{% endblock %}

{% block header_assets %}
    {{ parent() }}
    <script src="{{ asset('js/chat.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/chat.css') }}">
{% endblock %}

{% block content %}

    <h2 class="chat-list-empty text-center {% if search.items|length > 0 %}d-none{% endif %}">
        Cписок чатов пуст
    </h2>

    <div class="chat-list">
        {% include "PrivateArea/Chat/_list.html.twig" %}
    </div>

    <button class="btn btn-secondary w-100 chat-list-more {% if search.totalCount <= search.items|length %}d-none{% endif %}" type="button" data-page="2">
        Показать ещё
    </button>

{% endblock %}
